@tailwind base;
@tailwind components;
@tailwind utilities;


.outline-icon {
    color: transparent;
    -webkit-text-stroke: 1.7px #374151;
    /* default gray */
    transition: all 0.3s ease;
}

.social-icon:hover .outline-icon {
    -webkit-text-stroke: 1.7px #111827;
    /* gray-900 on hover */
}